body{
    	background-image: url("");
	padding-top: 50px;
	font-family: 'Arvo', serif;
	/*font-family: 'Josefin Sans', sans-serif;
	/*font-family: 'Ubuntu', sans-serif;*/
	font-size: 20px;
    padding-bottom: 20px;
}



 
.img-responsive-img-thumbnail {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.img-responsive-img-thumbnail:hover, .img-responsive-img-thumbnail:focus, .img-responsive-img-thumbnail:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


#main > :first-child{
	margin-top: 30px;
}
